<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>home</title>
    </head>
    <body>
        <form action="/quartiereSelezionato" method = "GET">
            {% for quar in lista %}
                <input type = "radio" name = "quartiereScelto" value = "{{quar}}">{{quar}}<br>
            {% endfor %}
            <br>
            <input type = "submit" value = "invia"/>
        </form>
    </body>
</html>